{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:10px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link  href="{% url 'mgcourse' %}">课程管理</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =selectedlink  href="{% url 'mgcharge' %}">资费管理</a>> 
        <a id =link  href="{% url 'mgrecruit' %}">招聘管理</a>
        <a id =link  href="{% url 'msgcenter' %}">留言中心</a>
    </div>
{% endblock %}

{% block contentbody %}
<div style="width:80%;margin:5% auto">
        <h4>资费管理>新增收费标准<h4>
        <form enctype='multipart/form-data' action="{% url 'addcharge' %}" method="post" name='addcharge' >{% csrf_token %}
            <table align="center" >
                <tr>
                    <td style="width:30%">课程名称</td>
                    <td style="width:70%"><input type="text" id="id_name" name="name" placeholder="请输入课程名称，如 高三数学,芭蕾舞 等" style="width:100%; height:120px" autofocus required  /></td>
                </tr>
                <tr>
                    <td>年级</td>
                    <td style="width: 50%;height:60px">
                        <select id="高三"  name="grade" panelHeight="auto" style="width: 100%;height:30px;float:left">
                        <option value=高三>高三</option>
                        <option value=高二>高二</option>
                        <option value=高一>高一</option>
                        <option value=初三>初三</option>
                        <option value=初二>初二</option>
                        <option value=初一>初一</option>
                        <option value=小学>小学</option>
                        <option value=学前>学前</option>
                        <option value=其他>其他</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>科目</td>
                    <td style="width: 50%;height:60px">
                        <select id="数学"  name="subject" panelHeight="auto" style="width: 100%;height:30px;float:left">
                        <option value=数学>数学</option>
                        <option value=英语>英语</option>
                        <option value=语文>语文</option>
                        <option value=物理>物理</option>
                        <option value=化学>化学</option>
                        <option value=生物>生物</option>
                        <option value=历史>历史</option>
                        <option value=政治>政治</option>
                        <option value=其他>其他</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>老师身份</td>
                    <td style="width: 50%;height:60px">
                        <select id="大学生"  name="teachertype" panelHeight="auto" style="width: 100%;height:30px;float:left">
                        <option value=大学生>大学生</option>
                        <option value=非在职教师>非在职教师</option>
                        <option value=在职教师>在职教师</option>
                        <option value=外教>外教</option>
                        <option value=其他>其他</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                        <td>费用(元/小时)</td>
                        <td><input type='number' id="id_introduce" placeholder="请输入费用" name="fee"   style="width:100%; height:30px"></input></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="确认添加" style="width:120px; height:30px;float:right" ></td>
                </tr>
        </table>     
    </form>
</div>
{% endblock %}