{% extends 'base.html' %}

{% block head %}  
    <form action="{% url 'designslist' %}" method="post" name='designslist'>{% csrf_token %}
        <tr>
            <td><h2>您可以从以下题目中选择！</h2></td>
            <td>
                <input type="submit" name='logout' value="退出" style="width:80px; height:30px;float:right">
            </td>
        </tr> 
    </form>
{% endblock %}

{% block contentbody %}
	<div style="margin: 10% 20%;">
        <table>
                <tr>
                    <td>名称</td>
                    <td>指导老师</td>
                    <td>类型</td>
                    <td>简介</td>
                </tr>
            {% for design in design_list.all %}
                <tr>
                    <td>{{ design.name }}</td>
                    <td>{{ design.teacher }}</td>
                    <td>{{ design.type }}</td>
                    <td>{{ place.introduce }}</td>
                </tr>
            {% endfor %}
        </table>
	</div>
{% endblock %}