{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'reviewdesign' %}">选题审核</a>
        <a id =link href="{% url 'mgdesign' %}">选题管理</a>
    </div>
{% endblock %}

{% block contentbody %}
    <div style="text-align:center;margin: 10% 10% 10% 10%" >
        <h4>课题详情</h4>
        <h4>{{ design.subject}}</h4>
        <p align="left" id=pcontent>
            <tr>
                <td>&nbsp&nbsp分类：</td>
                <td>{{ design.type}}</td>
                <td>&nbsp&nbsp导师：</td>
                <td>{{ design.teacher.teacher_name}}</td>
            </tr>
        </p>
        <p align="left" id=pcontent><lable>简介:</label> {{ design.introduce}}</p>
    </div>
{% endblock %}