{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:10px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'checkcharge' %}">资费标准</a>
        <a id =link  href="{% url 'publicneed' %}">发布需求</a>
        <a id =link  href="{% url 'msgcenter' %}">留言中心</a>  
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 5% 5% 5% 5%">
        <div style="width:100%;">
            <h4>编辑个人信息</h4>
            <form enctype='multipart/form-data' action="{% url 'editmyinfo' %}" method="post" name='editmyinfo' >{% csrf_token %}
            <table style="margin:0% 0% 0% 0%;width:100%;" vertical-align=left>
                <tr align="left">
                    <td >邮箱:{{ studentinfo.student.email }}</td>
                    <td>用户类型:学生</td>
                </tr>
                <tr align="left">
                    <td>用户名:<input type="text" id="id_name" name="name" value="{{ studentinfo.student.name}}" style="width:50%;height:32px"/></td>
                    <td>密码:<input type="text" name="password" value="{{ studentinfo.student.password }}" style="width:50%;height:32px"/></td>
                </tr>
                <tr align="left">
                    <td>姓名:<input type="text"  name="fullname" value="{{ studentinfo.student.fullname }}" style="width:50%;height:32px"/></td>
                    <td>性别：
                        <select id="gender"  name="gender" panelHeight="auto" style="width: 50%;height:30px">
                            <option value=男>男</option>
                            <option value=女>女</option>
                        </select> 
                    </td>
                </tr>
                <tr align="left">
                    <td>年级:
                    <select id="grade"  name="grade" panelHeight="auto" style="width: 50%;height:32px">
                        <option value=高三 >高三</option>
                        <option value=高二>高二</option>
                        <option value=高一>高一</option>
                        <option value=初三>初三</option>
                        <option value=初二>初二</option>
                        <option value=初一>初一</option>
                        <option value=小学>小学</option>
                        <option value=学前>学前</option>
                        <option value=其他>其他</option>
                    </select> 
                    </td>
                    <td>电话:<input type="text" name="phone" value="{{ studentinfo.student.phone }}" style="width:50%;height:32px"/></td>
                </tr>
                </table>
                </table>
                <table  style="margin:0% 0% 0% 0%;width:100%;" vertical-align=left>
                    <tr align="left">
                        <td>地址:<textarea id="id_address"  name="address" style="width:90%; height:90px">{{studentinfo.student.address }}</textarea></td>
                    </tr>  
                    <tr>
                     <td><input type="submit" value="更新" name="updatemyinfo" style="width:120px; height:30px;float:center" ></td>
                    </tr>
                </table>
            </form>
        </div>
	</div>
{% endblock %}