{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'mgcourse' %}">课程管理</a>
        <a id =link href="{% url 'mgcourse' %}">课程管理</a>
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 5% 5% 5% 5%">
        <div style="width:90%">
            <h4>编辑个人信息</h4>
            <form enctype='multipart/form-data' action="{% url 'editmyinfo' %}" method="post" name='editmyinfo' >{% csrf_token %}
            <table style="margin:0% 0% 0% 0%;width:100%;" vertical-align=left>
                <tr align="left">
                    <td >邮箱:{{ teacherinfo.teacher.email }}</td>
                    <td>电话:<input type="text" name="phone" value="{{ teacherinfo.teacher.phone }}" style="width:50%;height:32px"/></td>
                </tr>
                <tr align="left">
                    <td>用户名:<input type="text" id="id_name" name="name" value="{{ teacherinfo.teacher.name}}" style="width:50%;height:32px"/></td>
                    <td>密码:<input type="text" name="password" value="{{ teacherinfo.teacher.password }}" style="width:50%;height:32px"/></td>
                </tr>
                <tr align="left">
                    <td>姓名:<input type="text"  name="fullname" value="{{ teacherinfo.teacher.fullname }}" style="width:50%;height:32px"/></td>
                    <td>性别:
                        <select id="gender"  name="gender" panelHeight="auto" style="width: 50%;height:30px">
                            <option value=男 >女</option>
                            <option value=女二>女</option>
                        </select> 
                    </td>
                </tr>
                <tr align="left">
                    <td>学历:
                        <select id="education"  name="education" panelHeight="auto" style="width: 50%;height:32px">
                            <option value=大专 >大专</option>
                            <option value=本科>本科</option>
                            <option value=研究生>研究生</option>
                            <option value=博士>博士</option>
                        </select> 
                    </td>
                    <td>职称:<input type="text" name="title" value="{{ teacherinfo.title }}" style="width:50%;height:32px"/></td>
                </tr>
                <tr align="left">
                    <td>费用:<input type="number" name="fee" value="{{ teacherinfo.fee }}" style="width:50%;height:32px"/>元/小时</td>
                    <td</td>
                </tr>
                </table>
                <table  style="margin:0% 0% 0% 0%;width:100%;" vertical-align=left>
                    <tr align="left">
                        <td>地址:<textarea id="id_address"  name="address" style="width:90%; height:90px">{{teacherinfo.teacher.address }}</textarea></td>
                    </tr>  
                    <tr>
                     <td><input type="submit" value="更新" name="updatemyinfo" style="width:120px; height:30px;float:center" ></td>
                    </tr>
                </table>
            </form>
        </div>
	</div>
{% endblock %}