{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'reviewdesign' %}">选题审核</a>
        <a id =selectedlink href="{% url 'mgdesign' %}">选题管理</a>
    </div>
{% endblock %}

{% block contentbody %}
<div style="width:100%;margin:5% auto">
        <h4>编辑课题</h4>
        <form enctype='multipart/form-data' action="{% url 'editdesign' design.idno%}" method="post" name='editdesign' >{% csrf_token %}
            <table align="center" >
                <tr>
                    <td style="width:10%">题目</td>
                    <td style="width:90%"><input type="text" id="id_name" name="subject" value={{design.subject}} style="width:100%; height:60px" autofocus required  /></td>
                </tr>
                <tr>
                    <td>分类</td>
                    <td style="width: 50%;height:60px">
                        <select id={{design.type}}  name="type" panelHeight="auto" style="width: 100%;height:30px;float:left">
                        <option value=XG>信息管理</option>
                        <option value=JSG>计算机</option>
                        <option value=JR>金融</option>
                        <option value=GC>工程</option>
                        <option value=HK>航空</option>
                        <option value=XT>系统</option>
                        <option value=YJ>研究</option>
                        <option value=QT>其他</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                        <td>简介</td>
                        <td><textarea id="id_introduce"  name="introduce"  style="width:100%; height:300px">{{ design.introduce}}</textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="确认修改" style="width:120px; height:30px;float:right" ></td>
                </tr>
        </table>     
    </form>
</div>
{% endblock %}