{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'selectdesign' %}">选择课题</a>
        <a id =link  href="{% url 'definedesign' %}">自拟课题</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 5% 5% 5% 5%">
        <div style="width:100%;">
            <h4>编辑个人信息</h4>
            <form enctype='multipart/form-data' action="{% url 'editmyinfo' %}" method="post" name='editmyinfo' >{% csrf_token %}
            <table style="margin:0% 0% 0% 0%;width:100%;" vertical-align=left>
                <tr align="left">
                    <td >邮箱:{{ studentinfo.student.email }}</td>
                    <td></td>
                </tr>
                <tr align="left">
                    <td>用户名:<input type="text" id="id_name" name="name" value="{{ studentinfo.student.name}}" style="width:50%;height:32px"/></td>
                    <td>密码:<input type="text" name="password" value="{{ studentinfo.student.password }}" style="width:50%;height:32px"/></td>
                </tr>
                <tr align="left">
                    <td>姓名:<input type="text"  name="fullname" value="{{ studentinfo.student.fullname }}" style="width:50%;height:32px"/></td>
                    <td>性别:<input type="text"  name="gender" value="{{ studentinfo.student.gender }}" style="width:50%;height:32px"/></td>
                </tr>
                <tr align="left">
                    <td>年级:<input type="text" name="grade" value="{{ studentinfo.grade }}" style="width:50%;height:32px"/></td>
                    <td>电话:<input type="text" name="phone" value="{{ studentinfo.student.phone }}" style="width:50%;height:32px"/></td>
                </tr>
                </table>
                <table>
                    <tr align="left">
                        <td width="90%">地址:<input type="text"  name="address" value="{{ studentinfo.student.address }}" style="width:80%;height:32px"/></td>
                        <td><input type="submit" value="更新" name="updatemyinfo" style="width:120px; height:30px;float:center" ></td>
                    </tr>  
                </table>
            </form>
        </div>
	</div>
{% endblock %}