{% extends 'base.html' %}

{% block head %}  

{% endblock %}

{% block topmenucenter %}
    <div style="padding:5px">
        <a id =selectedlink href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'checkcharge' %}">资费标准</a>
        <a id =link  href="{% url 'publicneed' %}">发布需求</a> 
        <a id =link  href="{% url 'msgcenter' %}">留言中心</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div  id="textcontent" style="margin: 5% 5% 5% 5%">
        <div style="width:90%;font-size:16px">
                <h3>教员库</h3>
                <table align="center" style="table-layer:fixed"  border="0" cellpadding="0" cellspacing="0" style="border:1px solid #000000;">
                    <tr align="left">
                        <td width=10% style="border:1px solid #000000;">教员账号</td>
                        <td width=8% style="border:1px solid #000000;">姓名</td>
                        <td width=5% style="border:1px solid #000000;">学历</td>
                        <td width=5% style="border:1px solid #000000;">职称</td>
                        <td width=15% style="border:1px solid #000000;">在授课程</td>
                        <td width=10% style="border:1px solid #000000;">自我描述</td>
                        <td width=10% style="border:1px solid #000000;">电话</td>
                        <td width=10% style="border:1px solid #000000;">邮箱</td>
                        <td width=8% style="border:1px solid #000000;">薪水要求</td>
                        <td width=5% style="border:1px solid #000000;">评分(5分制)</td>
                        <td width=9% style="border:1px solid #000000;">预约</td>
                        <td width=10% style="border:1px solid #000000;">留言</td>
                    </tr>
                     {% for teacherinfo in teacherinfo_list.all %}
                        <tr align="left">
                            <td style="border:1px solid #000000;">
                                 <a  href="{% url 'teacherdetail' teacherinfo.id %}">{{teacherinfo.teacher.name}}({{teacherinfo.teacher.gender}})</a>
                            </td>
                            <td style="border:1px solid #000000;">{{teacherinfo.teacher.fullname}}</td>
                            <td style="border:1px solid #000000;">{{teacherinfo.teacher.education}}</td>
                            <td style="border:1px solid #000000;">{{teacherinfo.teacher.title}}</td>
                            <td style="border:1px solid #000000;">
                                {% for teachercourse in teacherinfo.teachercourse_set.all %}
                                    <a  href="{% url 'teachercoursedetail' teachercourse.id %}">&nbsp&nbsp{{ teachercourse.name}}</a>
                                {% endfor %}
                            </td>
                            <td style="border:1px solid #000000;">{{teacherinfo.introduce}}</td>
                            <td style="border:1px solid #000000;">{{teacherinfo.teacher.phone}}</td>
                            <td style="border:1px solid #000000;">{{teacherinfo.teacher.mail}}</td>
                            <td style="border:1px solid #000000;">{{teacherinfo.fee}}元/小时</td>
                            <td style="border:1px solid #000000;">{{teacherinfo.mark}}分</td>
                            <td style="border:1px solid #000000;"><a href="{% url 'bookteacher' teacherinfo.teacher.id %}">预约</a></td>
                            <td style="border:1px solid #000000;"><a href="{% url 'leavmessage' teacherinfo.teacher.id %}">留言</a></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
	</div>
{% endblock %}