{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =selectedlink href="{% url 'home' %}">首页</a>
        <a id =link  href="{% url 'mgcourse' %}">课程管理</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgcost' %}">资费管理</a>
        <a id =link  href="{% url 'mgmessage' %}">留言管理</a> 
        <a id =link  href="{% url 'mgrecruit' %}">招聘管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 10% 10% 10% 10%">
        <br/>
        <div  style="width:100%">
            <tr>
                <form enctype='multipart/form-data' action="{% url 'addnotice' %}" method="post" name='addnotice' >{% csrf_token %}
                    <td><textarea id="id_title" placeholder="请输入标题" name="title" style="width:100%; height:20px" autofocus required></textarea></td>
                    <td><textarea id="id_text" placeholder="请输入内容" name="noticetext" style="width:100%; height:100px" autofocus required></textarea></td>
                    <td><input type="submit" value="发布公告"  style="width:120px; height:30px;float:right" ></td>
                </form>
            </tr>
        </div>
	</div>
{% endblock %}