{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'checkcharge' %}">资费标准</a>
        <a id =link  href="{% url 'publicneed' %}">发布需求</a> 
    </div>
{% endblock %}

{% block contentbody %}
<div id="textcontent" style="margin: 5% 5% 5% 5%;width:80%" >
    <h4>留言</h4>
    <p align="left">
        <tr>
            <td>To:{{ teacher.name}}</td>
        </tr>
    </p>
    <p>
        <form enctype='multipart/form-data' action="{% url 'leavmessage' teacher.id %}" method="post" name='leavmessage' >{% csrf_token %}
            <textarea id="id_message" placeholder="请输入留言内容" name="message" style="width:80%; height:100px" autofocus required></textarea>
            </br>
            <input type="submit" name='replymsg' value="提交" style="width:80px; height:35px;float:right">
        </form>
    </p>
    </div>
{% endblock %}