{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =selectedlink href="{% url 'mgmessage' %}">留言管理</a>
        <a id =link href="{% url 'mgcourse' %}">课程管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
<div style="margin: 5% 20%" >
            <h4>待处理留言</h4>
                {% for message in message_list1.all %}
                <form enctype='multipart/form-data' action="{% url 'processmsg' message.id %}" method="post" name='mgmessage' >{% csrf_token %}
                <p align="left">
                    <tr>
                        <td>来自:{{ message.fromuser.student_name}}</td>
                    </tr>
                </p>
                <p align="left"><lable>留言:</label> {{ message.text}}</p>
                <input type="submit" name='replymsg' value="回复" style="width:80px; height:35px;float:center">
                <input type="submit" name='delmsg' value="删除" style="width:80px; height:35px;float:center">
                </form>
                {% endfor %}
            <h4>已回复留言</h4>
        {% for message in message_list2.all %}
            <p align="left">
                <tr>
                    <td>来自:{{ message.fromuser.student_name}}</td>
                </tr>
            </p>
            <p align="left"><lable>留言:</label> {{ message.text}}</p>
            <p align="left"><lable>已回复:</label> {{ message.reply}}</p>
            <form enctype='multipart/form-data' action="{% url 'processmsg' message.id %}" method="post" name='mgmessage' >{% csrf_token %}
                <input type="submit" name='delmsg' value="删除" style="width:80px; height:35px;float:center">
            </form>
        {% endfor %}
    </div>
{% endblock %}