{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link  href="{% url 'mgcourse' %}">课程管理</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgcharge' %}">资费管理</a>
        <a id =link  href="{% url 'mgmessage' %}">留言管理</a> 
        <a id =selectedlink  href="{% url 'mgrecruit' %}">招聘管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
  <div id="textcontent" style="margin: 5% 5% 5% 5%">
        <div  style="width:90%">
            <h4>发布招聘</h4>
            <form enctype='multipart/form-data' action="{% url 'addrecruit' %}" method="post" name='addrecruit' >{% csrf_token %}
                <table>
                    <tr>
                        <td width="20%">职位名称：</td>
                        <td  style="width: 80%;float:left">
                        `   <input type="text" id="id_name" name="name" placeholder="职位名称，如高三数学辅导老师，芭蕾舞老师等" style="width:100%; height:32px" autofocus required  /></input>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">年龄要求：</td>
                        <td style="float:left">
                            <input type='number' id="id_minage"  name="minage" style="height:32px" ></input>周岁~
                            <input type='number' id="id_maxage"  name="maxage" style="height:32px" ></input>周岁
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">工资：</td>
                        <td style="float:left">
                            <input type='number' id="id_wage" placeholder="请输入工资" name="wage"   style="height:32px"></input>元/小时
                        </td>
                    </tr>
                        <td width="20%">学历要求：</td>
                        <td>
                            <select id="本科"  name="education" panelHeight="auto" style="width: 100%;height:32px;float:left">
                            <option value=本科>本科</option>
                            <option value=大专>大专</option>
                            <option value=研究生>研究生</option>
                            <option value=博士>博士</option>
                            <option value=其他>其他</option>
                            </select> 
                        </td>
                    <tr>
                    </tr>
                    <tr>
                        <td width="20%">职位介绍：</td>
                        <td>
                            <textarea id="id_description" placeholder="请输入职位要求" name="description" style="width:100%; height:150px" autofocus required></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">招聘邮箱：</td>
                        <td  style="width: 80%;float:left">
                        `   <input type="text" id="id_mail" name="email" placeholder="简历接收邮箱" style="width:100%; height:32px" autofocus required  /></input>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">招聘热线：</td>
                        <td  style="width: 80%;float:left">
                        `   <input type="text" id="id_name" name="phone"  style="width:100%; height:32px" autofocus required  /></input>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%"></td>
                        <td><input type="submit" value="发布"  style="width:100%; height:32px;float:right" ></td>
                    </tr>
                </table>
            </form>
        </div>
        <div  style="width:90%">
            <h3>历史招聘</h3>
            {% for recruit in recruit_list.all %}
                <h4>{{ recruit.name }}<h4>
                <p align="left" style="width: 100%;font-size:26px;font-weight: normal">
                    年龄：{{recruit.minage}}周岁~{{recruit.maxage}}周岁&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp工资：{{recruit.wage}}元/小时
                    </br>
                    学历要求：{{recruit.education}}及以上
                    </br>
                    邮箱：{{recruit.email}}
                    </br>
                    电话：{{recruit.phone}}
                    </br>
                    职位介绍：{{ recruit.description }}
                      </br>
                    <label style="font-size:18px;float:right">{{ recruit.updatetime }} <label>
                </p>
                </br>
            {% endfor %}
        </div>
      
</div>
{% endblock %}