{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    input,select{height:30px; width:200px; vertical-align:left;}
    #textcontent {
        width: 100%;
        height: auto;
        font-size:20px;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link  href="{% url 'mgcourse' %}">课程管理</a> 
        <a id =selectedlink  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgcost' %}">资费管理</a>
        <a id =link  href="{% url 'mgmessage' %}">留言管理</a> 
        <a id =link  href="{% url 'mgrecruit' %}">招聘管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div  id=textcontent style="margin: 5% 5% 5% 5%">
        <div style="width:90%; height:500px">
                <table align="center" style="table-layer:fixed"  border="0" cellpadding="0" cellspacing="0" style="border:1px solid #000000;">
                    <tr align="left">
                        <td width=8% style="border:1px solid #000000;">账户</td>
                        <td width=8% style="border:1px solid #000000;">姓名</td>
                        <td width=8% style="border:1px solid #000000;"> 性别</td>
                        <td width=8% style="border:1px solid #000000;">年级</td>
                        <td width=10% style="border:1px solid #000000;">电话</td>
                        <td width=10% style="border:1px solid #000000;">邮箱</td>
                        <td width=20% style="border:1px solid #000000;">地址</td>
                        <td width=10% style="border:1px solid #000000;">历史预约</td>
                        <td width=10% style="border:1px solid #000000;">ta的需求</td>
                        <td width=8% style="border:1px solid #000000;">管理</td>
                    </tr>
                     {% for studentinfo in studentinfo_list.all %}
                        <tr align="left">
                            <td style="border:1px solid #000000;">{{studentinfo.student.name}}</td>
                            <td style="border:1px solid #000000;">{{studentinfo.student.fullname}}</td>
                            <td style="border:1px solid #000000;">{{studentinfo.student.gender}}</td>
                            <td style="border:1px solid #000000;">{{studentinfo.student.grade}}</td>
                            <td style="border:1px solid #000000;">{{studentinfo.student.phone}}</td>
                            <td style="border:1px solid #000000;">{{studentinfo.student.mail}}</td>
                            <td style="border:1px solid #000000;">{{studentinfo.student.address}}</td>
                            <td style="border:1px solid #000000;">
                                {% for teachercourse in studentinfo.teachercourse_set.all %}
                                    <a  href="{% url 'teachercoursedetail' teachercourse.id %}">&nbsp&nbsp{{ teachercourse.name}}</a>
                                {% endfor %}
                            </td>
                            <td style="border:1px solid #000000;">
                            {% for studentcourse in studentinfo.studentcourses_set.all %}
                                <a  href="{% url 'studentcoursedetail' studentcourse.id %}">&nbsp&nbsp{{ studentcourse.name}}</a>
                            {% endfor %}
                            </td style="border:1px solid #000000;">
                            <td style="border:1px solid #000000;"><a href="{% url 'delstudent' studentinfo.student.id %}">删除</a></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
	</div>
{% endblock %}