{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'reviewcourse' %}">选题审核</a>
        <a id =link  href="{% url 'mgcourse' %}">选题统计</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgmessage' %}">留言管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
<div style="margin: 5% 20%" >
    <h4>留言中心</h4>
    {% for message in message_list.all %}
        <p align='left'>
            {{message.fromuser.student.name}}:{{ message.text}}
            </br>
            {{message.teacher.teacher.name}}:{{ message.reply}}
            </br>
            <lable style="font-size:15px;float:right">更新时间: {{ message.updatetime}}</label>
            <a id="textcontent" href="{% url 'delmsg' message.id %}">删除</a>
        </p>
        </br>
    {% endfor %}
</div>
{% endblock %}