{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'reviewdesign' %}">选题审核</a>
        <a id =link href="{% url 'mgdesign' %}">选题管理</a>
    </div>
{% endblock %}

{% block contentbody %}
<div style="margin: 5% 20%" >
    <h4>消息中心</h4>
</div>
{% endblock %}