{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:10px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link  href="{% url 'mgcourse' %}">课程管理</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgcharge' %}">资费管理</a>
        <a id =link  href="{% url 'mgrecruit' %}">招聘管理</a> 
        <a id =selectedlink  href="{% url 'msgcenter' %}">留言中心</a> 
    </div>
{% endblock %}

{% block contentbody %}
<div id="textcontent" style="margin: 5% 5% 5% 5%;width:80%" >
    <h4>留言中心</h4>
    {% for message in message_list %}
        <p align='left'>
            {{message.fromuser.student.name}}:{{ message.text}}
            </br>
            {{message.teacher.teacher.name}}:{{ message.reply}}
            </br>
            <lable style="font-size:15px;float:right">更新时间: {{ message.updatetime}}</label>
            <a id="textcontent" href="{% url 'delmsg' message.id %}">删除</a>
        </p>
        </br>
    {% endfor %}
</div>
{% endblock %}