{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'reviewcourse' %}">选题审核</a>
        <a id =link  href="{% url 'mgcourse' %}">选题统计</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgmessage' %}">留言管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
<div style="margin: 5% 20%" >
        <h4>消息中心</h4>
        {% for message in message_list.all %}
        <p align="left">
            <tr>
                <td>{{ message.updatetime}}&nbsp&nbsp{{message.fromuser.student_name}}给你留言:</td>
            </tr>
        </p>
        <p align="left">{{ message.text}}</p>
        {% endfor %}
</div>
{% endblock %}