{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:5px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'checkcost' %}">资费标准</a>
        <a id =link  href="{% url 'publicneed' %}">发布需求</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 0% 10% 0% 10%">
        <div style="width:100%; height:300px">
            <h4>个人信息</h4>
            <table style="margin:0% 0% 0% 0%;width:100%">
                <tr align="left">
                    <td width="40%">账户名:{{ studentinfo.student.name }}</td>
                    <td width="40%">姓名:{{ studentinfo.student.fullname}}</td>
                    <td width="20%">性别:{{ studentinfo.student.gender }}</td>
                </tr>
                <tr align="left">
                    <td width="40%">邮箱:{{ studentinfo.student.email }}</td>
                    <td width="40%">密码:{{ studentinfo.student.password }}</td>
                    <td width="20%">年级:{{ studentinfo.grade }}</td>
                </tr>
            </table>
            <p align="left">
                地址:{{ studentinfo.student.address }}
                <br/>
                电话:{{ studentinfo.student.phone }}
                <br/>
                <a  href="{% url 'editmyinfo' %}">编辑</a>
            </p>
        </div>
        <div  style="width:100%">
            <h4>我的预约</h4>
            <table align="center" style="table-layer:fixed"  border="0" cellpadding="0" cellspacing="0" style="border:1px solid #000000;">
                <tr align="left">
                    <td width=20% style="border:1px solid #000000;">名称</td>
                    <td width=15% style="border:1px solid #000000;">年级</td>
                    <td width=15% style="border:1px solid #000000;">科目</td>
                    <td width=15% style="border:1px solid #000000;">老师</td>
                    <td width=15% style="border:1px solid #000000;">状态</td>
                    <td width=20% style="border:1px solid #000000;">预约新时间</td>
                </tr>
                 {% for bookcourseflow in bookcourseflow_list.all %}
                    <tr align="left">
                        <td style="border:1px solid #000000;">{{bookcourseflow.course.name}}
                            <a  href="{% url 'coursedetail' bookcourseflow.course.id %}">{{bookcourseflow.course.name}} </a>
                        </td>
                        <td style="border:1px solid #000000;">{{bookcourseflow.course.grade}}</td>
                        <td style="border:1px solid #000000;">{{bookcourseflow.course.subject}}</td>
                        <td style="border:1px solid #000000;">
                            <a  href="{% url 'teacherdetail' bookcourseflow.teacher.id %}">{{bookcourseflow.teacher.teacher.name}}</a>
                        </td>
                        <td style="border:1px solid #000000;"><label id="state" name={{bookcourseflow.state}}><label> </td>
                        <td style="border:1px solid #000000;">{{bookcourseflow.time }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div  style="width:100%">
            <h4>我的需求</h4>
            <table align="center" style="table-layer:fixed"  border="0" cellpadding="0" cellspacing="0" style="border:1px solid #000000;">
                <tr align="left">
                    <td width=20% style="border:1px solid #000000;">名称</td>
                    <td width=15% style="border:1px solid #000000;">年级</td>
                    <td width=15% style="border:1px solid #000000;">科目</td>
                    <td width=30% style="border:1px solid #000000;">要求</td>
                    <td width=20% style="border:1px solid #000000;">发布时间</td>
                </tr>
                {% for studentcourses in studentcourses_list.all %}
                    <tr align="left">
                        <td style="border:1px solid #000000;">{{studentcourses.name}}</td>
                        <td style="border:1px solid #000000;">{{studentcourses.grade}}</td>
                        <td style="border:1px solid #000000;">{{studentcourses.subject}}</td>
                        <td style="border:1px solid #000000;">{{studentcourses.demand}}</td>
                        <td style="border:1px solid #000000;">{{studentcourses.time }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
	</div>
<script>
    window.onload=function(){
        var state = document.getElementById('state');
        if(state.name==0){
            state.name.innerHtml="已预约"
        } else if(state.name==1){
            state.name.innerHtml="已完成"
        } else if(state.name==2){
            state.name.innerHtml="已取消"
        }
    }
</script>
{% endblock %}