{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:10px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link  href="{% url 'mgcourse' %}">课程管理</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgcharge' %}">资费管理</a>
        <a id =link  href="{% url 'mgrecruit' %}">招聘管理</a> 
        <a id =link  href="{% url 'msgcenter' %}">留言中心</a> 
    </div>
{% endblock %}

{% block contentbody %}
<div id="textcontent" style="margin: 5% 5% 5% 5%">
    <div style="width:80%">
       <h4>个人信息</h4>
            <table style="margin:0% 0% 0% 0%;width:100%">
                <tr align="left">
                    <td width="40%">账户名:{{ myinfo.name }}</td>
                    <td width="40%">姓名:{{ myinfo.fullname}}</td>
                    <td width="20%">用户类型:管理员</td>
                </tr>
                <tr align="left">
                    <td width="40%">邮箱:{{ myinfo.email }}</td>
                    <td width="40%">密码:{{ myinfo.password }}</td>
                    <td width="40%">性别:{{ myinfo.gender }}</td>
                </tr>
            </table>
            <p align="left">
                地址:{{ myinfo.address }}
                <br/>
                电话:{{ myinfo.phone }}
                <br/>
                <a  href="{% url 'editmyinfo' %}">编辑</a>
            </p>
        </div>
	</div>
{% endblock %}