{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'reviewdesign' %}">选题审核</a>
        <a id =link  href="{% url 'mgdesign' %}">选题管理</a> 
        <a id =link  href="{% url 'mgstudent' %}">学生管理</a> 
        <a id =link  href="{% url 'mgteacher' %}">老师管理</a> 
        <a id =link  href="{% url 'mgmessage' %}">留言管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 0% 10% 0% 10%">
        <div style="width:100%; height:200px">
            <h4>个人信息</h4>
            <table style="margin:0% 0% 0% 0%;width:100%">
                <tr align="left">
                    <td width=40%>管理员id:{{ admin.admin.userid }}</td>
                    <td width=60%>姓名:{{ admin.admin_name}}</td>
                </tr>
                <tr  align="left">
                    <td>电话:{{ admin.admin_phone }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a  href="{% url 'editmyinfo' %}" style="float:left">编辑</a></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div  style="width:100%; height:600px">
            <h4>我的任务</h4>
            <div>
                 <h5>待审核({{list1count }}条),<a  href="{% url 'reviewdesign' %}">可去选题审核处理</a></h4>
                    {% for work in work_list1.all %}
                    <p align="left">
                        课题:<a  href="{% url 'designdetail' work.subject %}">{{work.subject}}</a>
                        <br/>
                        状态:{{ work.state }}&nbsp;&nbsp;{{ work.nextaction }}
                        <br/>
                        更新时间:{{ work.updatetime }}
                        <br/>
                    </p>
                    {% endfor %}
            </div>
            <div>
                <h5>审核通过({{list2count }}条)</h5>
                {% for work in work_list2.all %}
                <p align="left">
                    课题:<a  href="{% url 'designdetail' work.subject %}">{{work.subject}}</a>
                    <br/>
                    状态:{{ work.state }}&nbsp;&nbsp;{{ work.nextaction }}
                    <br/>
                    更新时间:{{ work.updatetime }}
                    <br/>
                </p>
                {% endfor %}
            </div>
        </div>
	</div>
{% endblock %}