{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:10px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'checkcharge' %}">资费标准</a>
        <a id =selectedlink  href="{% url 'publicneed' %}">发布需求</a> 
        <a id =link  href="{% url 'msgcenter' %}">留言中心</a> 
    </div>
{% endblock %}

{% block contentbody %}
<div style="width:90%;margin:5% auto">
        <form enctype='multipart/form-data' action="{% url 'publicneed' %}" method="post" name='publicneed' >{% csrf_token %}
            <table align="center" >
                 <tr>
                    <td style="width:20%">课程名称</td>
                    <td style="width:80%"><input type="text" id="id_name" name="name" placeholder="请输入课程名称" style="width:100%; height:60px" autofocus required  /></td>
                </tr>
               <tr>
                    <td>年级</td>
                    <td style="width: 50%;height:60px">
                        <select id="高三"  name="grade" panelHeight="auto" style="width: 100%;height:30px;float:left">
                        <option value=高三>高三</option>
                        <option value=高二>高二</option>
                        <option value=高一>高一</option>
                        <option value=初三>初三</option>
                        <option value=初二>初二</option>
                        <option value=初一>初一</option>
                        <option value=小学>小学</option>
                        <option value=学前>学前</option>
                        <option value=其他>其他</option>
                        </select> 
                    </td>
                </tr>
                    <tr>
                    <td>科目</td>
                    <td style="width: 50%;height:60px">
                        <select id="数学"  name="subject" panelHeight="auto" style="width: 100%;height:30px;float:left">
                        <option value=数学>数学</option>
                        <option value=英语>英语</option>
                        <option value=语文>语文</option>
                        <option value=物理>物理</option>
                        <option value=化学>化学</option>
                        <option value=生物>生物</option>
                        <option value=历史>历史</option>
                        <option value=政治>政治</option>
                        <option value=其他>其他</option>
                        </select> 
                    </td>
                </tr>
                 <tr>
                    <td>联系电话</td>
                    <td style="width: 50%;height:30px">
                      <input type="text" id="id_name" name="phone" placeholder="请输入联系电话" style="width:100%; height:30px" autofocus required  />
                    </td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td style="width: 50%;height:30px">
                      <input type="text" id="id_name" name="email" placeholder="请输入邮箱" style="width:100%; height:30px" autofocus required  />
                    </td>
                </tr>
                <tr>
                    <td>上课地址</td>
                    <td style="width: 50%;height:60px">
                      <textarea  id="id_address" name="address" placeholder="请输入上课地址" style="width:100%; height:120px"></textarea>
                    </td>
                </tr>
                <tr>
                        <td>要求</td>
                        <td><textarea id="id_demand" placeholder="请输入对老师要求，上课时间、地址要求等" name="demand"   style="width:100%; height:300px"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="确认提交" style="width:120px; height:30px;float:right" ></td>
                </tr>
        </table>     
    </form>
</div>
{% endblock %}