{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'home' %}">首页</a>
        <a id =selectedlink href="{% url 'selectdesign' %}">选择课题</a>
        <a id =link  href="{% url 'definedesign' %}">自拟课题</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 5% 20%" >
        <form enctype='multipart/form-data' action="{% url 'searchdesign' %}" method="post" name='searchdesign' >{% csrf_token %}
            <p align="left">
                <tr>
                    <td><input type="text" id="search" name="search_content" placeholder="请输入您要搜索的内容" style="width:600px; height:32px"/></td>
                    <td><input type="submit" name='search' value="搜索" style="width:80px; height:35px"></td>
                </tr>
            </p>
            <p align="left">
                <tr>
                    <td><font color="gray">导师:</font>
                        <select name="search_teacher" panelHeight="auto" style="width: 200px;height:32px">
                            <option value=''></option>
                            {% for teacher in teacher_list.all %}
                                <option value='{{teacher.teacher_name}}' >{{teacher.teacher_name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><font color="gray">&nbsp&nbsp分类:</font>
                        <select name="type" panelHeight="auto" style="width: 200px;height:32px">
                        <option value=''></option>
                        <option value=XG >信息管理</option>
                        <option value=JSJ>计算机</option>
                        <option value=JR >金融</option>
                        <option value=GC>工程</option>
                        <option value=JK>航空</option>
                        <option value=XT>系统</option>
                        <option value=YJ>研究</option>
                        <option value=QT>其他</option>
                        </select> 
                    </td>
                </tr> 
            </p>
        </form>
        {% for design in design_list.all %}
            <h4>{{ design.subject}}</h4>
            <p align="left" id=pcontent>
                <tr>
                    <td>题目ID:</td>
                    <td>{{ design.idno}}</td>
                    <td>&nbsp&nbsp分类：</td>
                    <td>{{ design.type}}</td>
                    <td>&nbsp&nbsp导师：</td>
                    <td>{{ design.teacher.teacher_name}}</td>
                </tr>
            </p>
            <p align="left" id=pcontent><lable>简介:</label> {{ design.introduce}}</p>
            <p align="lcenter">
                <tr>
                    <td><a href="{% url 'selecteddesign' design.idno %}">选择</a></td>
                </tr>
            </p>
        {% endfor %}
    </div>
{% endblock %}