{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #pcontent{
        font-size:28px;
        color:black;
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =selectedlink href="{% url 'home' %}">首页</a>
        <a id =link href="{% url 'mgmessage' %}">留言管理</a>
        <a id =link href="{% url 'mgcourse' %}">课程管理</a>
    </div>
{% endblock %}

{% block contentbody %}
    <div style="text-align:center;margin: 10% 10% 10% 10%" >
        <h4>课题详情</h4>
             <table align="left" >
                 <tr>
                    <td align="left">课程名称：{{studentcourse.name}}</td>
                </tr>
               <tr>
                    <td align="left">年级：{{studentcourse.grade}}</td>
                </tr>
                    <td align="left">科目：{{studentcourse.subject}}</td>
                </tr>
                </tr>
                    <td align="left">上课地址：</td>{{studentcourse.address}}</td>
                </tr>
                </tr>
                    <td align="left">邮箱：{{studentcourse.email}}</td>
                </tr>
                </tr>
                    <td align="left">电话：{{studentcourse.phone}}</td>
                </tr>
                <tr>
                    <td align="left">要求：{{studentcourse.demand}}</td>
                </tr>
                <tr>
                    <td align="left">发布时间：{{studentcourse.time}}</td>
                </tr>
        </table>  
    </div>
{% endblock %}
